@model EShop.Admin.Models.Spaceship.Images

@{
//var images = "~/multipleFileUpload/" + (Model.ImageData ?? "noimage.jpg");
}


Images to database
@*<div class="form-group row col-sm-4 offset-2">
    <img class="card-img-top" src="@photoPaths" asp-append-version="true" />
    <input asp-action="removeimage" asp-controller="product" asp-route-photoId="@Model.PhotoId" type="submit" class="btn btn-danger" value="Remove Image" />
</div>*@
