@model IEnumerable<EShop.Admin.Models.Users.UsersListView>


@{
    ViewData["Title"] = "Index";
}

<h1>List of users</h1>

@*@if (Model.Any())
{*@
    @*<a class="btn btn-primary" style="width:auto" asp-controller="users" asp-action="register">
        Add new user
    </a>*@
@*}
else
{*@
    <div class="card">
        <div class="card-header">
            No users created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Create new user
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="users" asp-action="register">
                Add new user
            </a>
        </div>
    </div>
@*}*@