@model EShop.Admin.Models.Product.ExistingFilePathViewModel


    <div class="form-group row col-sm-4 offset-2">
        <img class="card-img-top" src="~/multipleFileUpload/@Model.ExistingFilePath" asp-append-version="true" />
    </div>
