@{
    ViewData["Title"] = "Weather";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>Api Call, Ajax</div>
<h1>Search City and Get Weather Forecast</h1>

<div>
    <strong>City Name: </strong><input class="form-control col-sm-3" id="txtCity" type="text" />
    <br />
    <br />
    <button class="btn btn-success" id="btnSubmit">Get Weather Forecast</button>
</div>

<form method="post">
    <div>
        <h2>Weather Forecast</h2>
        <table>
            <tr>
                <td>Weather Symbol Icon <img id="imageWeatherIconUrl" src="" title="Weather Icon" /></td>
            </tr>
            <tr>
                <td>
                    <strong>City: </strong>
                    <span id="lblCity"></span>
                    <span id="lblCountry"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Latitude: </strong>
                    <label id="lblLat"></label><br />
                    <strong>Longitude: </strong>
                    <label id="lblLon"></label>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Description:</strong>
                    <label id="lblDescription"></label><br />
                    <strong>Humidity:</strong>
                    <label id="lblHumidity"></label>
                </td>
            </tr>
            <tr>
                <td>
                    Temperature (Feels Like): <label id="lblTempFeelsLike"></label><br />
                    Temperature: <label id="lblTemp"></label><br />
                    Temperature (Min): <label id="lblTempMin"></label><br />
                    Temperature (Max): <label id="lblTempMax"></label><br />
                </td>
            </tr>
        </table>
    </div>
</form>

<script>

    $("#btnSubmit").click(function () {

        var cityname = $("#txtCity").val();
        if (cityname.length > 0) {
            $.ajax({
                url: "https://localhost:44347/WeatherForecast/WeatherDetail?City=" + cityname,
                type: "POST",
                success: function (rsltval) {
                    var data = JSON.parse(rsltval);
                    console.log(data);
                    $("#lblCity").html(data.city);
                    $("#lblCountry").text(data.country);
                    $("#lblLat").text(data.lat);
                    $("#lblLon").text(data.lon);
                    $("#lblDescription").text(data.description);
                    $("#lblHumidity").text(data.humidity);
                    $("#lblTempFeelsLike").text(data.tempFeelsLike);
                    $("#lblTemp").text(data.temp);
                    $("#lblTempMax").text(data.tempMax);
                    $("#lblTempMin").text(data.tempMin);
                    $("#imgWeatherIconUrl").attr("src", "http://openweathermap.org/img/w/" + data.weatherIcon + ".png");
                    //data - response from server
                },
                error: function () {

                }
            });
        }
        else {
            alert("City Not Found");
        }
    });

</script>